<html>
<style>
    .pageWidth{
        width:100%;
        max-width: 600px;
        margin:0 auto
    }
    .pageDiv {
        padding: 20px 75px 54px 75px;
    }

    @media only screen and (max-width: 600px) {
        .pageWidth{
            width:100%;
            max-width: 100%;
            margin:0 auto;

        }
        .pageDiv {
            padding: 0 0 0 0;
        }
    }
    .journeyUrl {
        background-color: #243771;
        border: solid 1px #243771;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: bold;
        margin: 0 auto;
        padding: 6px 25px;
        text-decoration: none;
        text-transform: capitalize;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }
</style>
<div style="background:#f2f2f2;font-family:Open Sans,sans-serif;height:100%;margin:auto;min-height:100%;padding:0;min-width:100%"
     height="100%">
    <div class="pageDiv">
        <div class="pageWidth" >
            <table bgcolor="#ffffff" border="0" cellpadding="0"
                   cellspacing="0" align="center">
                <tbody>
                <tr>
                    <td style="background-color: #243771">
                        <table align="center" cellpadding="0" cellspacing="0"
                               style="width:100%;margin:30px 0px 0px 0px">
                            <tbody>
                            <tr>
                                <td width="28"></td>
                                <td> <a href="https://zappian90.gotrackier.com/click?campaign_id=2&pub_id=5&p1={your-transaction-id}&p2=LDS&source=PIEMAIL"
                                        style="display:block" target="_blank"
                                        data-saferedirecturl="https://zappian90.gotrackier.com/click?campaign_id=2&pub_id=5&p1={your-transaction-id}&p2=LDS&source=PIEMAIL">
                                    <img style="display:block;width:170px;float:left;height:34px"
                                         src="https://www.credmudra.com/assets/images/credmudra_logo_new.png"
                                         align="left" class="CToWUd" data-bit="iit"> </a> </td>
                                <td width="28"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="20"></td>
                </tr>
                <tr style="background-color:#ffffff">
                    <td>
                        <table border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:2.5px">
                            <tbody>
                            <tr>
                                <td width="28"></td>
                                <td style="border-bottom-left-radius:4px;border-bottom-right-radius:4px">
                                    <p></p>
                                    <table border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <hr
                                                        style="border:none;border-bottom:1px solid #b7b7b7;opacity:0.5;margin:0 auto">
                                                <p> Dear <b>${userName} </b> </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="box-sizing:border-box;background-color:#ffffff">
                                                <hr
                                                        style="border:none;border-bottom:1px solid #b7b7b7;opacity:0.5;margin:0 auto">
                                                <hr
                                                        style="border:none;border-bottom:1px solid #b7b7b7;opacity:0.5;margin:0 auto">
                                                <p
                                                        style="color:#1d1d1d;font-size:14px;line-height:24px;margin:16px 0px 12px 0px">

                                                    We noticed you started a loan application with Credmudra, but it looks like you got sidetracked. No worries!

                                                    <br/>
                                                    Completing your application means unlocking fantastic loan offers tailored just for you. Plus, with Credmudra, you get:

                                                    <br/> <br/>
                                                    <b>Best Loan offers </b>: Our user-friendly platform delivers the best match for your profile.
                                                    <br/>
                                                    <b>Quick Approval </b>: Get speedy responses on your application.
                                                    <br/>
                                                    <b>Faster Disbursal </b>: Get cash in your account in 24 hours
                                                    <br/> <br/>
                                                    And here's the cherry on top: Many of our lenders are running special offers just for Credmudra applicants*!
                                                    <br/>
                                                    Click here to pick up where you left off and get access to these amazing features and offers:
                                                    <a style=" background-color: #243771;
        border: solid 1px #243771;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 6px 25px;
        text-decoration: none;
        text-transform: capitalize;
        align-self: center;
        margin-top: 8px;
        margin-bottom: 8px;" target="_blank" href="${journeyUrl}" data-saferedirecturl="${journeyUrl}"> <span style="text-align: center;width: 100%">Start your loan journey</span></a>

                                                    <br/>
                                                    Stay Awesome!
                                                    <br/>
                                                    Remember, we're here to assist if you need anything. Let's make this happen!
                                                    <br/>
                                                    Stay Awesome!
                                                </p>

                                                <p
                                                        style="color:#1d1d1d;font-size:14px;line-height:24px;margin:12px 0px 16px 0px">
                                                    <span>Kind Regards,<br>Credmudra<br></span> </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <hr
                                                        style="border:none;border-bottom:1px solid #b7b7b7;opacity:0.5;margin:0 auto">
                                                <p
                                                        style="color:#1d1d1d;font-size:14px;font-weight:600;margin:16px 0px 8px 0px">
                                                    Looking for Help?</p>
                                                <p style="color:#343434;font-size:12px;margin:0px 0px 2px 0px">
                                                    <a href="mailto:support@credmudra.com"
                                                       target="_blank">support@credmudra.com</a>,<a
                                                        href="https://www.credmudra.com"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.credmudra.com"></a> </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <hr
                                                        style="border:none;border-bottom:1px solid #b7b7b7;opacity:0.5;margin:0 auto">
                                                <div style="padding:15px 0 15px 0">
                                                    <table border="0" width="100%" align="center"
                                                           cellpadding="0" cellspacing="0" style="margin:0">
                                                        <tbody>
                                                        <tr>
                                                            <td
                                                                    style="white-space:nowrap;padding-bottom:15px;width:60%">
                                                                            <span
                                                                                    style="color:#999999;font-size:12px;padding-right:10px;vertical-align:middle">Follow
                                                                                us on</span>
                                                                <a
                                                                        href="https://www.facebook.com/credmudra"
                                                                        style="display:inline-block;font-size:0;vertical-align:middle"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.facebook.com/credmudra">
                                                                    <img style="border:0 solid #dcdcdc;border-radius:4px"
                                                                         src="https://ci3.googleusercontent.com/proxy/7L7QhIuwaDqx8kXXelRtrU_yd0CDVAbdd8SRa-gAdEcQmwl5OMiOWriA2yAfQP0_ygZyLGrvTKEzejd-Nk0yY3a4w9wKpSr1xrxpEjPQX_cUxf3F-8g=s0-d-e1-ft#https://s3.ap-south-1.amazonaws.com/lkart-email-assets/Facebook.jpg"
                                                                         alt="facebook" class="CToWUd"
                                                                         data-bit="iit">
                                                                </a>
                                                                <a
                                                                        href="https://twitter.com/Credmudra?t=Gaww4U3bGpfn5Hg1dw7N1A&s=09"
                                                                        style="padding-left:8px;display:inline-block;font-size:0;vertical-align:middle"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://twitter.com/Credmudra?t=Gaww4U3bGpfn5Hg1dw7N1A&s=09">
                                                                    <img style="border:0 solid #dcdcdc;border-radius:4px"
                                                                         src="https://ci3.googleusercontent.com/proxy/gT6bKmwCine78Umh_eRFow7NhhGiFm_EbGmRm4KDLdGCGjwamdBzZCjJiqw_1ZG7CkU1lX2qfPaMF7Q1Y5PLidffFas8_pPXx4BpBchl_QNkr8zN2A=s0-d-e1-ft#https://s3.ap-south-1.amazonaws.com/lkart-email-assets/Twitter.jpg"
                                                                         alt="twitter" class="CToWUd"
                                                                         data-bit="iit">
                                                                </a>
                                                                <a
                                                                        href="https://www.linkedin.com/company/credmudra/?originalSubdomain=in"
                                                                        style="padding-left:8px;display:inline-block;font-size:0;vertical-align:middle"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.linkedin.com/company/credmudra/?originalSubdomain=in">
                                                                    <img style="border:0 solid #dcdcdc;border-radius:4px"
                                                                         src="https://ci3.googleusercontent.com/proxy/8RwmLtqSiQqoaf5sM9NnB9TanK5627Dmo1b8n--sCc86narGIOzWpFN-OSWlvGMlKd1wmGTbcsBOFyXeg6sNsbFy15SrU-vQZ7aTn4VhlbjRjvC0P4I=s0-d-e1-ft#https://s3.ap-south-1.amazonaws.com/lkart-email-assets/LinkedIn.jpg"
                                                                         alt="linkedin" class="CToWUd"
                                                                         data-bit="iit"> </a> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <a href="https://zappian90.gotrackier.com/click?campaign_id=2&pub_id=5&p1={your-transaction-id}&p2=LDS&source=PIEMAIL"
                                                                    style="color:#fe7a3f;font-size:12px;font-weight:600;text-decoration:none"
                                                                    target="_blank"
                                                                    data-saferedirecturl="">Credmudra</a> <span
                                                                    style="color:#999999;font-size:11px;padding-left:4px"></span>
                                                                <p
                                                                        style="color:#999999;font-size:12px;margin:0px;padding-top:6px">
                                                                    912 SURESHWARI TECHNO IT PARK PREMISES VILLAGE EKSAR, LINK ROAD BORIVALI (W) Mumbai, 400092 </p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="28"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="20"> </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div><img alt=""
               src="https://ci5.googleusercontent.com/proxy/8ucb3lqjP9U5yX0Uo7_NGjY5ucqRSzCy8LEPzDt1Smz9QFXWBD0vuZGFQ1F2cTidepUNMlPbkuf1wtRyYYSF_tfPrMas2lI6OaTQgf1PkrTp2qhH8LJCjiCya2EEGWJUHC-zapAqSAOm7KXp1L_SY6oa1C4RuRt9Bdbwe4m1LwoSnOTID9BaVyZrDRhvsV8xXIVkHvK1q4nc49XRLA=s0-d-e1-ft#https://g2gr1qb5.r.ap-south-1.awstrack.me/I0/0109018a3fce5f6e-52eee213-c6c0-4309-b3f8-efdaebf3cf13-000000/rwfnjPb_19Tz4ZEWgxHmsSnwPvE=117"
               style="display:none;width:1px;height:1px" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."
               xvz675cka="">
</div>
</html>
